{% load static %}
<div class="left_body">
    <!-- 피드 박스 -->
    {% for feed in feed_list %}
        <div class="border feed_box">
            <div class="feed_name">
                <div class="profile_box">
                    <img class="profile_img" src="{{ feed.profile_image }}"/>
                </div>
                <span class="feed_name_txt"> {{ feed.user_id }} </span>
            </div>
            <img class="feed_img" src="{% get_media_prefix %}{{ feed.image }}"/>
            <div class="feed_icon">
                <div>
                    <span class="material-icons-outlined">favorite_border</span>
                    <span class="material-icons-outlined">mode_comment</span>
                    <span class="material-icons-outlined">send</span>
                </div>
                <div>
                    <span class="material-icons-outlined">turned_in_not</span>
                </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"><b>좋아요 0개</b></p>
{#                <--p class="feed_txt"><b>좋아요 {{ feed.like_count }}개</b></--p-->#}
            </div>
            <div class="feed_content">
                <p class="feed_txt"><b> {{ feed.user_id }} </b> {{ feed.content }}</p>
            </div>
            <div class="feed_reply">
                <span class="feed_txt"> <b> min </b> 한국 들어 가고 싶어요 ㅠㅠ</span>
                <span class="feed_txt"> <b> kyoung </b> 한국  ㄱ ㄱ </span>
            </div>
        </div>
    {% endfor %}
</div>