<!doctype html>
<html lang="en">
{% load static %}
<head>
    {% include 'kinstagram/baseheader.html' %}
    <title>씬스타그램</title>
</head>

<body>
<!-- 상단 내비게이션 바 -->
{% include 'kinstagram/navbar.html' %}
<!-- 바디 영역 -->
<div class="main_body">
    <!-- 피드 박스 -->
    {% include 'kinstagram/feedbox.html' %}
    <!-- 여기서부터 오른쪽 화면... -->
    {% include 'kinstagram/rightbody.html' %}
</div>

<div>
    <!-- 등록 모달 화면... -->
    {% include 'kinstagram/modaloverlay.html' %}
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- 요기에 jquery -->
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="{% static 'js/scripts.js' %}"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->

</body>
</html>